/* global styling  */
:root {
  --navbar-color: #0a1625;
  --backgorund-color: #2b2d42;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--backgorund-color);
}
h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
a,
p {
  font-size: 2.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

/* navar section  */
.section-header {
  background-color: var(--navbar-color);
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 1rem;
}
.logo-container {
  color: white;
  display: flex;
  flex: 2 1 40rem;
}
.logo-container a img {
  background-color: white;
  margin-left: 2rem;
}
.nav-links {
  display: flex;
  flex: 1 1 20rem;
  justify-content: space-around;
}
.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 128px;
}

.notification {
  margin-top: 20px !important;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}
