/* global styling  */
:root {
  --navbar-color: #0a1625;
  --backgorund-color: #2b2d42;
}

@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: var(--backgorund-color);
}
h1 {
  font-size: 2.5rem;
}

li,
button,
label,
input,
label,
p {
  font-size: 2rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.7rem;
  color: white;
}

h3 {
  font-size: 2.5rem;
}

h4,
h5 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

/* navar section  */
.section-header {
  background-color: var(--navbar-color);
  display: flex;

  min-width: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
}
nav {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 1rem;
}
.logo-container {
  color: white;
  display: flex;
  flex: 2 1 40rem;
}
.logo-container h1 {
  font-family: "Great Vibes", cursive;
}
.logo-container a img {
  background-color: white;
  margin-left: 2rem;
}
.nav-links {
  display: flex;
  flex: 1 1 20rem;
  justify-content: space-around;
}

/* movie versus section  */
.input {
  padding: 1.5rem;
  color: white;
  background-color: var(--navbar-color);
  border: none;
  font-size: 2rem;
  margin-top: 1rem;
}

.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
  background-color: var(--navbar-color);
  border-radius: 1rem;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 128px;
  height: 200px;
  border-radius: 0.5rem;
  object-fit: cover;
}

.neutral {
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 20px !important;
  color: white;
}

.neutral-lose {
  background-color: #4c0013 !important;
  margin-top: 20px !important;
  color: white;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.7);
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}
.color {
  color: white;
  font-weight: 300;
}
.tutorial h1,
.tutorial p {
  color: white;
  margin: 1rem;
}

/* section display movie datails  */
#left-summary {
  display: none;
  background-color: var(--navbar-color);
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.1);
}
#right-summary {
  display: none;
  background-color: var(--navbar-color);
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.1);
}
.media {
  /* color: white; */
  background-color: rgba(255, 255, 255, 0.2);
  padding: 0.5rem;
  border-radius: 1rem;
  /* box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(255, 255, 255, 0.1); */
}
.content-style {
  color: white !important;
}
.column-add {
  margin: 1rem;
}
